@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
  /* своевременная подгрузка шрифта */
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  background-color: #f2f2f2;
  margin: 0;
  color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.link {
  color: #000;
  text-decoration: none;
}

.par-10 {
  font-size: 10px;
  line-height: 13px;
}

.par-16 {
  font-size: 16px;
  line-height: 21px;
}

.par-18 {
  font-size: 18px;
  line-height: 21px;
}

.par-20 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.par-22 {
  font-size: 22px;
  line-height: 26px;
}

.privilege-caption {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-caption {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-caption {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.privilege-cols-caption {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}


.black {
  color: #000;
}

.white {
  color: #fff;
}

.gray {
  color: #333;
}

.privilege {
  text-align: center;
}

.privilege-cols-w {
  color: #fff;
}

.no-border {
  border: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
}

.fav-reactangle {
  text-align: center;
  background-color: #7db54f;
  color: #fff;
  min-width: 20px;
  min-height: 20px;
  border-radius: 10px;
  padding: 2px;
}

.btn {
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #756157;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  padding: 10px 17px 10px 17px;
  max-width: 140px;
}

.btn-here {
  font-size: 16px;
  line-height: 20px;
  min-height: 37px;
  min-width: 160px;
  padding: 8px 35px 8px 35px;
  /* не факт */
}

.btn-hotel {
  font-size: 20px;
  line-height: 36px;
  min-height: 60px;
  min-width: 574px;
  padding: 12px 55px 12px 55px;
  /* не факт */
}

.filter-btn-sub {
  font-size: 20px;
  line-height: 36px;
  min-height: 60px;
  min-width: 200px;
  background-color: #82B3D3;
  border-radius: 0px 10px 10px 0px;
  padding: 8px 5px 8px 5px;
}

.btn-mail-sub {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  min-height: 60px;
  min-width: 200px;
  background-color: #82B3D3;
  border-radius: 0 10px 10px 0;
}

.filter-form-reset {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

.product-card-fav {
  background-color: #82B3D3;
  padding: 10px 15px 10px 15px;
}

.product-card-rating {
  font-weight: 400;
  background-color: #ccc;
  color: #333;
  cursor: auto;
  padding: 10px 13px 10px 13px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('../images/background_email.jpg') no-repeat;
  background-size: cover;
  height: 417px;
  width: 1200px;
  color: #fff;
  text-align: center;
  margin: auto;
}

.subscribe-cat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 417px;
  width: 1200px;
  margin: auto;
  background-color: #fff;
  text-align: center;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-input {
  border: none;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  width: 600px;
}

.subscribe-in-width {
  width: 475px;
  margin: 0 auto;
  margin-bottom: 40px;

}


.phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.cat-slider {
  color: #fff;
  background: url('../images/slider_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /*height:411px;*/
}

.bread a {
  color: #fff;
  text-decoration: none;
}

.filter-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.cat-filter {
  display: flex;
  margin: auto;
  height: 403px;
  width: 1200px;
  flex-direction: column;
  background: url('../images/slider_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

.filter-bread {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
}


.filter-caption {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-transform: capitalize;
  margin-top: 50px;
  margin-bottom: 10px;
}

.form_filter {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

}

.filter-field {
  display: flex;
  flex-direction: column;
}

.filter-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-sort {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  width: 1200px;
  background-color: #fff;
}

.product-select-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-sort-btn {
  display: flex;
  justify-content: center;
  align-items: center;

}

.product-sort-caption {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

}





.products {
  display: flex;
  width: 1200px;
  margin: auto;
  justify-content: center;
  background-color: #fff;
}

.product-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 30px;
}

.product-card {
  border: 1px solid purple;
  padding: 20px;
  margin-right: 18px;
}

.product-card-caption {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  margin: 13px 0 13px 0;
}

.product-card-name {
  margin: 13px 0 13px 0;

}

.product-card-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  justify-content: space-between;
}

.product-card-p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 80px;
  width: 1200px;
  background-color: #fff;
  border-spacing: 100px;
  border-top: 1px solid #e6e6e6;
}

.pagination_list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}


.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}



.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.pagination-current {
  color: #000;
}


.main {
  display: flex;
  flex-direction: column;

}

.nav {
  display: flex;
  width: 1200px;
  margin: auto;
  justify-content: space-around;
  background-color: #fff;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-right: 34px;

}

.nav-user {
  display: flex;
  list-style: none;
}

.nav-li-width {
  width: 230px;
  margin: 0 auto;
}

.logo {
  position: absolute;
}

.visually-hidden {
  display: none;
}

.main-slider {
  background: url('../images/slider_background.jpg')no-repeat;
  margin: auto;
  height: 485px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-slogan {
  width: 457px;
  height: 387px;


}

.privilege {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

.privilege-reason {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: 420px;

}

.privilege-cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.privilege-blue-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #82B3D3;
  width: 400px;
  height: 384px;
}

.privilege-light-blue-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 384px;
}

.privilege-lighter-blue-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
}

.privilege-white-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 400px;
  height: 384px;
}

.privilege-image {
  display: flex;
}

.privilege-img-home {
  background: url('../images/ico/housing.svg')no-repeat;
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.privilege-img-food {
  background: url('../images/ico/food.svg')no-repeat;
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.privilege-img-relic {
  background: url('../images/ico/souvenir.svg')no-repeat;
  width: 85px;
  height: 85px;
  margin: 0 auto;
}



.hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 417px;
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
}

.hotel-on-page {
  display: flex;
  justify-content: center;
  align-items: center;

}

.hotel-in-width {
  width: 594px;

}



.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
