@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap; /* своевременная подгрузка шрифта */

}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  background-color: #f2f2f2;
  margin: 0 auto;
  color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


/* == Text + Colors + Other == */

.par-10 {
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
}

.par-16 {
  font-size: 16px;
  line-height: 21px;
}

.par-18 {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}


.black {
  color: #000000;
}

.white {
  color: #ffffff;
}

.gray {
  color: #333333;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

/* == main box == */

.page-box {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 6px 20px rgba(0, 0, 0, .5);
}

/* == Header Navigation == */

.nav {
  display: flex;
  justify-content: start;
  align-items: stretch;
  background-color: #ffffff;
  min-height: 65px;
  padding-left: 70px;
  padding-right: 70px;
}

.logo {
  position: relative;
  z-index: 1;
  margin-bottom: -10px;
  margin-right: 47px;

}

.logo img {
  display: block;
}

.nav-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}

.btn a {
  margin: 0;
  padding: 0;
}

.btn {
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #756157;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 27px 8px 27px;
}

/* - btn & links not active - */

.btn:disabled {
  outline: none;
  background-color: #E5E5E5;
  color: #ffffff;
  cursor: default;
}

.btn:disabled {
  outline: none;
  background-color: #E5E5E5;
  color: #ffffff;
  cursor: default;
}

.dead-link:not([href]) {
  background-color: #E5E5E5;
  opacity: 0.5;
  color: #ffffff;
  cursor: default;
  user-select: none;

}

.dead-link:not([href]):hover {
  background-color: #E5E5E5;
  opacity: 0.5;
}

/* - - - - - - - - - - - - */

.btn-here {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  min-height: 37px;
  min-width: 160px;
  padding: 0;
  max-width: 200px;
  outline: none;
}

.btn-here:hover,
.product-card-more:hover,
.btn-hotel:hover {
  background-color: #615048;
}

.btn-here:focus,
.product-card-more:focus,
.btn-hotel:focus {
  background-color: #615048;
}

.btn-here:active,
.product-card-more:active,
.btn-hotel:active {
  color: rgba(255, 255, 255, 0.3);
  opacity: 0.8;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
}

.nav-item-active {
  border-color: #756257;
}

.nav-item:not(:last-child) {
  margin-right: 34px;
}

.nav-user-item {
  outline: none;
}

.nav-user-item:first-child {
  margin-right: 23px;
}

.nav-user-item:nth-child(2) {
  margin-right: 32px;
}

.nav-user {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.nav-icon-search {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('../images/ico/search.svg');
  background-size: 100%;
  margin-top: -3px;
}

.nav-icon-fav {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('../images/ico/heart.svg');
  background-size: 100%;
  margin-top: -3px;
}

.fav-reactangle {
  background-color: #7db54f;
  color: #ffffff;
  min-width: 20px;
  min-height: 20px;
  border-radius: 10px;
  padding: 4px 5px;
  position: relative;
  bottom: 7px;
  left: 13px;
}

/* == Main == */

.main-slider {
  position: relative;
  background-image: url('../images/welcome.svg'), url('../images/ico/divider.svg'), url('../images/slider_background.jpg');
  background-size: auto, auto, cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top 50px center, bottom 0 center, center;
  margin: auto;
  height: 485px;
  width: 100%;
}

.slider-slogan {
  position: relative;
  top: 33px;
  width: 457px;
  height: 387px;
}

.slider-divider {
  position: absolute;
  background-image: url('../images/ico/divider.svg');
  background-repeat: no-repeat;
  bottom: 0;
  height: 57px;
  width: 100%;
}

/* == Privilege == */

.privilege {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
}

.privilege-reason {
  padding: 63px 0 90px 0;
}

.privilege-caption {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.privilege-par-22 {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding-top: 31px;
}

/* == Reasons == */

.reasons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
}

.reasons-main-flex {
  display: flex;
  flex-wrap: wrap;
}

.reasons-inner {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
}

.reason-main-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  background-color: #82B3D3;
  padding: 92px 0 92px 0;
}

.reason-cols-caption {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 28px;
}

.reason-inside-cols {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0 81px 0;
}

.reason-main-img {
  height: 384px;
  width: 800px;
}

.last-cols {
  padding: 104px 0 103px 0;
}

.light-blue-col {
  background-color: rgba(131, 179, 211, 0.2);
}

.lighter-blue-col {
  background-color: rgba(131, 179, 211, 0.12);
}

.lighter-white-col {
  background-color: #ffffff;
}

.reason-li-width {
  width: 230px;
  margin: 0 auto;
}

.reason-cols-par-18 {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.reason-cols-num-18 {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 30px;
}

.reason-img-home {
  background-image: url('../images/ico/housing.svg');
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  margin-bottom: 30px;
}

.reason-img-food {
  background-image: url('../images/ico/food.svg');
  background-repeat: no-repeat;
  width: 74px;
  height: 70px;
  margin-bottom: 31px;
}

.reason-img-relic {
  background-image: url('../images/ico/souvenir.svg');
  background-repeat: no-repeat;
  width: 64px;
  height: 76px;
  margin-bottom: 28px;
}

.reason-col-img-caption {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 28px;
}

/* == Hotel == */

.hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
  padding-top: 91px;
  padding-bottom: 91px;
}

.hotel-caption {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.hotel-par-22 {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 56px;
}

.btn-hotel {
  font-size: 20px;
  line-height: 36px;
  min-height: 60px;
  min-width: 574px;
  padding: 12px 55px 12px 55px;
  outline: none;
}

/* == Subscribe == */

.subscribe {
  background-image: url('../images/background_email.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 94px 0 94px 0;
}

.subscribe-caption {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.subscribe-cat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
  padding: 94px 0 94px 0;
}

.subscribe-par-22 {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 46px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-input {
  font-family: inherit;
  border: 2px solid transparent;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  width: 576px;
  height: 56px;
  max-width: 600px;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  padding: 0;
  padding-left: 22px;
  outline: none;
}


.subscribe-input:hover {
  background-color: #E6E6E6;
}

.subscribe-input:focus-visible {
  border: 2px solid #83B3D3;

}


.subscribe-input:active {
  background-color: #FFFFFF;
  border: 2px solid #000000;
  color: #000000;
}



.btn-mail-sub {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  min-height: 60px;
  min-width: 200px;
  background-color: #82B3D3;
  border-radius: 0 10px 10px 0;
  outline: none;
}

/* == Footer == */

.footer {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 120px;
  background-color: #ffffff;
  padding-left: 70px;
  padding-right: 70px;
}

.footer-soc-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.footer-soc-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.footer-soc-item-inner {
  display: flex;
  align-items: center;
  outline: none;
}

.footer-soc-ico {
  display: block;
  color: #83B3D3;
}

.footer-soc-ico:hover {
  color: #68A2CA;
}

.footer-soc-item-inner:focus .footer-soc-ico {
  color: #68A2CA;
}

.footer-soc-ico:active {
  color: #68A2CA;
  opacity: 0.3;
}

.footer-phone {
  margin-left: 236px;
  margin-top: 10px;
}

.footer-phone-link {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  outline: none;
}

.footer-phone-link:hover {
  color: #756157;
}

.footer-phone-link:focus {
  color: #756157;
}

.footer-phone-link:active {
  color: #756157;
  opacity: 0.3;
}

.footer-academy-logo {
  display: block;
  width: 115px;
  height: 33px;
  color: #000000;
  margin-top: 10px;
}

.footer-html-logo {
  margin-left: auto;
}

.footer-html-logo-inner {
  display: block;
  outline: none;
}

.footer-html-logo:hover .footer-academy-logo {
  color: #756157;
}

.footer-html-logo-inner:focus .footer-academy-logo {
  color: #756157;
}

.footer-html-logo:active .footer-academy-logo {
  color: #756157;
  opacity: 0.3;
}

/****** == Category page == ******/

/* == Category Filter == */

.cat-filter {
  background-image: url('../images/background_filter.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 35px;
  padding-bottom: 70px;
}

.filter-caption {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 8px;
}

.filter-breadcrumbs {
  display: flex;
  align-items: center;
  height: 21px;
  margin: 0;
  padding: 0;
  color: #242424;
  list-style-type: none;
  margin-bottom: 40px;
}

.filter-breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}

.filter-breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-bread-home {
  top: 1px;
  left: -1px;
  position: relative;
}

.filter-breadcrumbs-item {
  position: relative;
  margin-right: 24px;
  list-style-type: none;
}

.filter-breadcrumbs-item::after {
  position: absolute;
  top: 7px;
  left: 24px;
  width: 6px;
  height: 8px;
  content: "";
  color: #ffffff;
  background-image: url('../images/ico/arrowedw.svg');
}

.filter-breadcrumbs-item:last-child::after {
  content: none;
}

.form-filter {
  display: flex;
  justify-content: start;
}

.filter-btn-sub {
  font-size: 16px;
  line-height: 20px;
  min-height: 48px;
  min-width: 160px;
  background-color: #82B3D3;
  border-radius: 4px;
  padding: 8px 5px 8px 5px;
  margin-left: auto;
  outline: none;
}

.filter-btn-sub:hover,
.btn-mail-sub:hover,
.product-card-fav:hover {
  background-color: #68A2CA;
}

.filter-btn-sub:focus,
.btn-mail-sub:focus,
.product-card-fav:focus {
  background-color: #68A2CA;
}

.filter-btn-sub:active,
.btn-mail-sub:active,
.product-card-fav:active {
  color: rgba(255, 255, 255, 0.3);
  opacity: 0.8;
}

.filter-form-reset {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-left: 118px;
  outline: none;
  border: none;
}

.filter-form-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-form-reset:focus-visible {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.filter-form-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-range-scale {
  position: relative;
  width: 288px;
  height: 4px;
  margin-top: 28px;
  background-color: #ffffff;
  border-radius: 2px;
}

.filter-range-bar {
  position: absolute;
  height: 4px;
  background-color: #686d6f;
}

.filter-range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  outline: none;
}

.filter-range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.filter-range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.filter-range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: -231px;
}

.toggle-max {
  top: -8px;
  right: 52px;
}

.price-label {
  display: block;
  opacity: 30%;
  padding-right: 18px;
  margin-top: -2px;
}

.filter-field-price {
  border: none;
  margin: 0;
  margin-left: 178px;
  padding: 0;
}

.filter-price-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.filter-label-min-max-price {
  display: flex;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 0 4px 4px 0;
  max-width: 144px;
  max-height: 46px;
}

.filter-label-left {
  border-radius: 4px 0 0 4px;
  margin-right: -2px;
}

.filter-label-min-max-price:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.filter-label-right:focus-within,
.filter-label-left:focus-within {
  border: 2px solid #FFFFFF;
  box-shadow: 0 0 0 3px #81B3D2, 0 0 0 3px #81B3D2 inset;
}

.filter-label-min-max-price:active {
  background-color: #756257;
  border-color: #ffffff;
}

.min-max-price {
  box-sizing: content-box;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  margin-top: 1px;
  color: #ffffff;
  background: none;
  border: none;
  width: 88px;
  padding-left: 17px;
}

.min-max-price:focus {
  outline: none;
}

/* hide someshit from select  */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* end - hide someshit from select  */


/* == Category Product sort == */

.product-sort {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #ffffff;
  padding-top: 55px;
  padding-bottom: 56px;
  padding-left: 72px;
  padding-right: 71px;
  outline: none;
}

.product-sort-caption {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.product-select-control {
  font-family: inherit;
  width: 284px;
  height: 47px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  outline: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-left: auto;
  margin-right: 78px;
  border: none;
  background-image: url(../images/ico/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 14px center;
  appearance: none;

}

.product-select-control:hover,
.select-control:hover {
  outline-color: #68A2CA;
}

.product-select-control:focus,
.select-control:focus {
  outline-color: #68A2CA;
}

.product-select-control:active,
.select-control:active {
  outline-color: #3F5E72;
}

.product-sort-btn {
  display: flex;
  padding: 0;
  margin: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:not(:nth-child(3)) {
  margin-right: 8px;
}

.product-sort-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 44px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  text-decoration: none;
  outline: none;
}

.product-sort-active {
  border-color: #000000;
}

.product-sort-link:hover {
  border-color: #000000;
}

.product-sort-link:focus-visible {
  border-color: #68A2CA;
}

.product-sort-link:active {
  border-color: #000000;
}

.product-sort-ico-plitka {
  display: block;
  width: 16px;
  height: 14px;
  background-image: url('../images/ico/icon-table.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.product-sort-ico-cart {
  width: 16px;
  height: 14px;
  background-image: url('../images/ico/icon-slideshow.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.product-sort-ico-spisok {
  width: 16px;
  height: 14px;
  background-image: url('../images/ico/icon-list.svg');
  background-repeat: no-repeat;
  background-position: center;
}

/* == Category Products == */

.products {
  display: flex;
  margin: 0;
  background-color: #ffffff;
  padding-left: 72px;
  padding-right: 72px;
}

.product-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
  border-bottom: 1px solid #e6e6e6;
}

.product-card {
  padding: 20px;
  max-width: 340px;
  max-height: 438px;
}

.product-card:not(:nth-last-child(-n+2)) {
  margin-right: 18px;
}

.product-card-image {
  display: block;
  margin-bottom: 16px;
}

.product-card-link {
  display: block;
  color: #000000;
  text-decoration: none;
  margin-bottom: 16px;
  outline: none;
}

.product-card-caption {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.product-card-grid {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-column-gap: 20px;
  grid-template-rows: 21px 40px 40px;
  grid-row-gap: 14px;
}

.product-card-name {
  margin: 0;
}

.product-card-name:nth-child(3) {
  margin-left: 15px;
}

.product-card-more {
  max-height: 37px;
  padding: 8px 27px 8px 27px;
  align-self: center;
  outline: none;
}

.product-card-fav {
  background-color: #82B3D3;
  padding: 8px 12px;
  max-height: 37px;
  align-self: center;
  outline: none;
}

.product-card-in-fav {
  background-color: #7DB54F;
  padding: 8px 12px;
  max-height: 37px;
  align-self: center;
  outline: none;
}

.product-card-in-fav:hover {
  background-color: #6C9E42;
}

.product-card-in-fav:focus {
  background-color: #6C9E42;
}

.product-card-in-fav:active {
  color: rgba(255, 255, 255, 0.3);
  opacity: 0.8;
}

.product-card-block-stars {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

.product-card-star {
  width: 18px;
  height: 17px;
  background-image: url('../images/ico/star.svg');
  background-size: 100%;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}

.product-card-star:not(:last-child) {
  margin-right: 6px;
}

.product-card-rating {
  font-weight: 400;
  background-color: #f2f2f2;
  color: #333333;
  cursor: auto;
  padding: 8px 12px 8px 12px;
  align-self: center;
  max-height: 37px;
}

.product-card-stars-4 {
  width: 140px;
  height: 37px;
  background-color: crimson;
  margin: 0;
}

.product-card-stars-3 {
  width: 140px;
  height: 37px;
  background-color: crimson;
  margin: 0;
}

.product-card-stars-2 {
  width: 140px;
  height: 37px;
  background-color: crimson;
  margin: 0;
}

/* == Category Pagination == */

.pagination {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 73px;
  padding-right: 71px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  text-align: center;
  border-radius: 4px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item:not(:first-child) {
  background-color: #82B3D3;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 10px 10px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  outline: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-active:hover {
  background-color: #68A2CA;
}

.pagination-active:focus {
  background-color: #68A2CA;
}

.pagination-active:active {
  opacity: 0.4;
}

.pagination-number-on-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  width: 160px;
  height: 46px;
  margin-left: 51px;
  padding-left: 21px;
  outline: 2px solid #E5E5E5;
  border-radius: 4px;
  color: #333333;
  border: none;
  background-image: url("../images/ico/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}


/* Group */
.form-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.form-filter-group:first-child {
  margin-right: 70px;
}

/* Title */
.form-filter-title,
.form-filter-price {
  margin-bottom: 30px;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.form-filter-price {
  margin-bottom: 35px;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

.control-mark {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  display: inline-block;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus-within .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid #83B3D3;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 3px solid #83B3D3;
}

/* Checkbox */
.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 9px;
  left: 7px;
  width: 11px;
  height: 2px;
  background-color: #3F5E72;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 11px;
  left: 4px;
  width: 7px;
  height: 2px;
  background-color: #3F5E72;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(-50deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(40deg);
}

/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-label {
  font-weight: 400;
}

.form-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form-filter-item:not(:last-child) {
  margin-bottom: 16px;
}


/* == Modal window == */


.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
}


.modal-container-close {
  display: none;
}

.modal {
  z-index: 3;
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
  width: 575px;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  padding-top: 62px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
  top: 45px;
}


.modal-close-button {
  position: absolute;
  padding: 26.5px 26.5px;
  top: 54px;
  right: 70px;
  width: 13px;
  height: 13px;
  background-color: #F2F2F2;
  border-radius: 28px;
  border: none;
  background-image: url(../images/ico/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 63px;
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  padding-right: 63px;
}


.data-field-false {
  color: #FF5757;
}

.data-field {
  display: block;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  margin-left: 155px;
  padding-top: 8px;
}

.modal-form .field-group {
  margin: 0;
  margin-bottom: 40px;
  height: 50px;
}

.field-group {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.modal-form-field {
  background-color: #F2F2F2;
  outline: none;
  border: none;
}

.modal-form .field {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  width: 381px;
  height: 50px;
  border-radius: 4px;
  padding-left: 19px;
  padding-right: 19px;
}


.man-number {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  text-align: center;
  background-color: #F2F2F2;
  border: none;
  outline: none;
  height: 50px;
  width: 33px;
}


.modal-date-name {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  margin-right: 42px;
}

.modal-endata-name {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  margin-right: 37px;
}

.modal-old-name {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  margin-right: 64px;
}

.modal-young-name {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  margin-left: 56px;
  margin-right: 7px;
}

.quantity_inner {
  display: inline-flex;
  border-radius: 26px;
}

.bt_minus {
  border-radius: 4px 0 0 4px;
}

.bt_plus {
  border-radius: 0 4px 4px 0;
}

.quantity_inner .bt_minus,
.quantity_inner .bt_plus,
.quantity_inner .quantity {
  height: 50px;
  width: 50px;
  padding: 0;
  border: 0;
  margin: 0;
  background-color: #f2f2f2;
  cursor: pointer;
  outline: 0;
}

.quantity_inner .bt_minus svg,
.quantity_inner .bt_plus svg {
  stroke: #cccccc;
  transition: 0.5s;
  margin: 0;
  margin-top: 2px;
  width: 22px;
}

.quantity_inner .bt_minus:hover svg,
.quantity_inner .bt_plus:hover svg {
  stroke: #000000;
}

.filter-btn-popup {
  border-radius: 10px;
  height: 60px;
  width: 575px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.filter-btn-popup:focus-visible {
  border: 3px solid #756257;
}


/* == Tooltip == */

.tooltip {
  position: relative;
  display: inline-block;
  outline: none;
}

.tooltip-i-button {
  padding: 12.5px 12.5px;
  width: 1px;
  height: 9px;
  background-color: #83B3D3;
  border-radius: 28px;
  color: #ffffff;
  border: none;
  background-image: url(../images/ico/i.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-right: 17px;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 216px;
  height: 106px;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  top: 40px;
  left: -56px;
  padding: 15px 18px 18px 22px;
  margin-left: -60px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #333333 transparent;
}

/* == END Tooltip == */
